<?xml version="1.0"?>
<config>
	<modules>
        <TPSS_Captcha>
            <version>0.1.0</version>
        </TPSS_Captcha>
    </modules>
    <global>
        <blocks>
            <tpss_captcha>
                <class>TPSS_Captcha_Block</class>
            </tpss_captcha>
        </blocks>
    </global>
    <frontend>
        <routers>
            <tpss_captcha>
                <use>standard</use>
                <args>
                    <module>TPSS_Captcha</module>
                    <frontName>tpss-captcha</frontName>
                </args>
            </tpss_captcha>
            <contacts>
                <args>
                    <modules>
                        <TPSS_Captcha before="Mage_Contacts">TPSS_Captcha</TPSS_Captcha>
                    </modules>
                </args>
            </contacts> 
        </routers>
        <layout>
            <updates>
                <tpss_captcha>
                    <file>tpss_captcha.xml</file>
                </tpss_captcha>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<contacts translate="title" module="captcha">
											<title>Captcha</title>
										</contacts>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>		
    </adminhtml>
    <default>
        <contacts>
            <general>
                <enabled>1</enabled>
            </general>
        </contacts>
    </default>
</config>
